#myprofiles {
	display: block;
	float: left;
	height: 25px;
	width: 25px;
}
#myprofiles_footer{
 float: right;
}
#myprofile{
 padding:0px;
}
#myprofiles_content div {
	display: block;
	float: left;
	height: 25px;
	width: 25px;	
}