div.myprofiles {
	display: block;
	float: left;
	height: 25px;
	width: 25px;
}
div.myprofiles_sidebar_footer{
 float: right;
}
div.myprofiles_widget_footer{
 width: 75px;
 float: right;
}
div.myprofile{
 padding:0px;
}
div#myprofiles_sidebar_content div {
	display: block;
	float: left;
	height: 25px;
	width: 25px;	
}
div#myprofiles_widget_content div {
	display: block;
	float: left;
	height: 25px;
	width: 25px;	
}