#myprofiles {
	display: block;
	float: left;
	height: 25px;
	width: 25px;
}
#myprofiles_sidebar_footer{
 float: right;
}
#myprofiles_widget_footer{
 float: right;
}
#myprofile{
 padding:0px;
}
#myprofiles_sidebar_content div {
	display: block;
	float: left;
	height: 25px;
	width: 25px;	
}
#myprofiles_widget_content a {
	display: block;
	float: left;
	height: 25px;
	width: 25px;
	background-repeat:no-repeat;
	text-indent:-9999px;
}